#heading{
    color: green;
    font-size: 42px;
    margin-bottom: 10px;
}

body{
    background: linear-gradient(to bottom right, #f8fafc, #bad5f1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}   
