*{
  padding: 0;;
  margin: 0;
  box-sizing: border-box;
}

.main{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;


}

.card{
  border: none;
  background-color: rgb(104, 245, 137);
  padding: 20px;
  text-align: center;
}

h1{
  color: rgb(4, 106, 4);
  margin: 20px;
  margin-bottom: 40px;
}

.image{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.gallery{
  border: 2px solid green;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 10px;
}

img{
  width: 170px;
  height: 120px;
  border-radius: 10px;
}

p{
  color: green;
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}